/*
 * =========================
 *        PARAMETERS
 * =========================
 */
params {
    fasta       = null
    organism    = null
    signalptar  = "assets/signalp-6.0i.fast.tar.gz"
    deeploctar  = "assets/deeploc-2.1.All.tar.gz"
    deeptmhmm   = false
    phobiustar  = "assets/phobius101_linux.tgz"
    meta        = false
    augustus_model = null
    min_contig_len = 3000
}

/*
 * =========================
 *        PROCESS DEFAULTS
 * =========================
 */
process {
    executor = 'local'
    shell = ['/bin/bash', '-euo', 'pipefail']

    cpus = 4
    memory = '8 GB'

    // Override defaults for light setup processes
    withName: SETUP_SIGNALP {
        cache = 'deep'
        cpus = 2
        memory = '4 GB'
    }

    withName: SETUP_DEEPLOC {
        cache = 'deep'
        cpus = 2
        memory = '4 GB'
    }
}

/*
 * =========================
 *         CONDA
 * =========================
 */
conda {
    enabled = true
    autoActivate = true
    cacheDir = ".conda-envs"
}

/*
 * =========================
 *         TEST
 * =========================
 */
profiles {

  test {
    params {
      fasta = "test/test.fasta"
      deeptmhmm = false
      meta = "mixed"
      augustus_model = "aspergillus_nidulans"
      min_contig_len = 3000
    }
  }

}